aioredis==1.3.1
amqp==5.0.9
arabic-reshaper==2.1.3
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
branca==0.4.2
cachetools==4.2.4
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==36.0.1
cycler==0.11.0
daphne==3.0.2
decorator==4.4.2
Deprecated==1.2.13
Django==3.2.9
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-cleanup==5.2.0
django-countries==7.2.1
django-extensions==3.1.5
django-filter==21.1
django-geoposition==0.3.0
django-guardian==2.4.0
django-jet==1.0.8
django-jet-reboot==1.1.1
django-location-field==2.1.0
django-redis==5.2.0
django-timezone-field==4.2.3
django-utils-six==2.0
folium==0.12.1.post1
fonttools==4.29.1
future==0.18.2
geocoder==1.38.1
google-api-python-client==1.4.1
googlemaps==4.5.3
haversine==2.5.1
hiredis==2.0.0
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jason==0.1.7
Jinja2==3.0.3
kiwisolver==1.3.2
kombu==5.2.3
MarkupSafe==2.0.1
matplotlib==3.5.1
msgpack==1.0.3
numpy==1.22.1
oauth2client==4.1.3
orjson==3.6.6
packaging==21.3
pandas==1.4.0
Pillow==8.4.0
prompt-toolkit==3.0.26
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyPDF2==1.26.0
python-bidi==0.4.2
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2021.3
ratelim==0.1.6
redis==4.1.0
reportlab==3.6.5
requests==2.26.0
rsa==4.8
scipy==1.8.0
seaborn==0.11.2
service-identity==21.1.0
shortuuid==1.0.8
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
Twisted==21.7.0
txaio==21.2.1
typing-extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.13.3
xhtml2pdf==0.2.5
zope.interface==5.4.0
