* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  letter-spacing: 1.5px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 90vw;
  letter-spacing: 1.5px;
  border-bottom: 1px rebeccapurple solid;
  margin: auto;
  font-family: "Mulish";
  font-weight: lighter;
  margin-bottom: 10px;
}

header nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

header nav .nav .hamburger {
  display: none;
  height: 50px;
}

header nav .nav .hamburger .bar1,
header nav .nav .hamburger .bar2,
header nav .nav .hamburger .bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

header nav .nav .hambugerPopUp {
  display: none;
}

header nav .nav .nav-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header nav .nav .nav-left a {
  font-size: 1.35rem;
  color: #061830;
  font-weight: bold;
  text-decoration: none;
}

header nav .nav .nav-right {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 2rem;
}

header nav .nav .nav-right a {
  font-size: 1.05rem;
  font-weight: bold;
  color: #061830;
  margin-right: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav .nav-right a b {
  font-weight: lighter;
}

hr {
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
}

.searchBox {
  width: 90vw;
  margin: auto;
}

.searchBox div {
  height: 100%;
}

.searchBox div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Mulish";
  font-weight: bold;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.35rem;
  height: 100%;
  min-height: 200px;
  color: teal;
}

.searchBox div form .ratingSort,
.searchBox div form .priceSort,
.searchBox div form .searchArea {
  background-color: white;
  opacity: 0.6;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBox div form .ratingSort select,
.searchBox div form .priceSort select,
.searchBox div form .searchArea select {
  border: 1px solid teal;
  border-radius: 2px;
  outline: none;
  color: teal;
  margin-left: 5px;
  font-weight: bold;
}

.searchBox div form .ratingSort select option,
.searchBox div form .priceSort select option,
.searchBox div form .searchArea select option {
  text-align: center;
  color: teal;
}

.searchBox div form .ratingSort select option :enabled,
.searchBox div form .priceSort select option :enabled,
.searchBox div form .searchArea select option :enabled {
  border-color: teal;
}

.searchBox div form .searchArea input {
  border: none;
  outline: none;
  color: teal;
  font-weight: bold;
}

.searchBox div form .searchArea ::-webkit-input-placeholder {
  text-align: center;
  color: teal;
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  font-weight: bold;
}

.searchBox div form .searchArea :-ms-input-placeholder {
  text-align: center;
  color: teal;
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  font-weight: bold;
}

.searchBox div form .searchArea ::-ms-input-placeholder {
  text-align: center;
  color: teal;
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  font-weight: bold;
}

.searchBox div form .searchArea ::placeholder {
  text-align: center;
  color: teal;
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  font-weight: bold;
}

.searchBox div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchBox div span input {
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  text-align: center;
}

.searchBox div span button {
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 5px;
  padding: 0.1rem;
}

footer {
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  text-align: center;
  width: 99%;
  position: absolute;
  letter-spacing: 1.5px;
}

.form-control {
  border: none;
  outline: none;
}

@media screen and (max-width: 920px) {
  header.active {
    height: auto;
  }
  header.active nav {
    height: 100%;
  }
  header.active nav .nav {
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header.active nav .nav .nav-left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.active nav .nav .nav-right {
    display: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  header.active nav .nav .nav-right span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header.active nav .nav .nav-right span a {
    margin: 1rem;
  }
  header nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 2rem;
    cursor: pointer;
  }
  header nav .nav .hamburger.active {
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav .nav .hamburger.active .bar1 {
    opacity: 0;
  }
  header nav .nav .hamburger.active .bar2 {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  header nav .nav .hamburger.active .bar3 {
    -webkit-transform: translateY(-4px) rotate(-45deg);
            transform: translateY(-4px) rotate(-45deg);
  }
  header nav .nav .nav-right {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .nav .nav-right.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .searchBox div form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .searchBox div form div {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=base.css.map */