* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$font-color: #061830;
$PrimaryWhite: #ffffff;
$PrimaryBlack: #000000;
$mainTranisition: all 1s ease;
$mainLetterSpacing: 1.5px;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin border($color) {
  border: 1px solid $color;
}

@mixin repeatedFont {
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
}
body {
  height: 100vh;
  // letter-spacing: $mainLetterSpacing;
}
header {
  display: flex;
  // background-color: #e3f2fd;
  height: 100px;
  width: 90vw;
  letter-spacing: $mainLetterSpacing;
  border-bottom: 1px rebeccapurple solid;
  margin: auto;
  font-family: "Mulish";
  font-weight: lighter;
  margin-bottom: 10px;

  nav {
    height: 100%;
    width: 100%;
    @include flex();

    .nav {
      @include flex();
      width: 100%;
      height: 100%;

      .hamburger {
        display: none;
        height: 50px;

        .bar1,
        .bar2,
        .bar3 {
          width: 25px;
          height: 3px;
          background-color: rgb(0, 0, 0);
          margin: 2px;

          transition: all 0.3s ease-in-out;
          background-color: #101010;
        }
      }

      .hambugerPopUp {
        display: none;
      }

      .nav-left {
        width: 40%;

        @include flex();
        padding-left: 2rem;
        justify-content: left;
        a {
          font-size: 1.35rem;
          color: $font-color;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .nav-right {
        width: 60%;
        height: 100%;
        @include flex();
        justify-content: right;
        padding-right: 2rem;

        a {
          font-size: 1.05rem;
          font-weight: bold;
          color: $font-color;
          margin-right: 1rem;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;

          b {
            font-weight: lighter;
          }
        }
      }
    }
  }
}

hr {
  width: 90vw;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.searchBox {
  // border: 1px solid red;
  width: 90vw;
  margin: auto;
  margin-bottom: 1rem;

  div {
    form {
      @include flex();
      font-family: "Mulish";
      font-weight: lighter;
      justify-content: space-evenly;
      font-size: 1.35rem;
      color: $font-color;

      .ratingSort,
      .priceSort {
        // border: 1px solid red;
        display: flex;
        flex-direction: row;

        align-items: center;
        select {
          color: $font-color;
          // border: 1px solid red;
          margin-left: 5px;
          @include repeatedFont();
          option {
            text-align: center;
            :enabled {
              border-color: teal;
            }
          }
        }
      }
    }
    span {
      @include flex();

      input {
        @include repeatedFont();
        text-align: center;
      }
      button {
        font-family: "Mulish";
        font-weight: lighter;
        font-size: 1.2rem;
        text-align: center;
        margin-left: 5px;
        padding: 0.1rem;
      }
    }
  }
}

footer {
  @include repeatedFont();
  @include flex();
  bottom: 0;
  text-align: center;
  width: 99%;
  position: absolute;
  letter-spacing: $mainLetterSpacing;
}

.form-control {
  border: none;
  outline: none;
}

@media screen and (max-width: 920px) {
  header.active {
    height: auto;
    nav {
      height: 100%;

      .nav {
        height: 100%;
        justify-content: space-between;
        .nav-left {
          width: 100%;
          justify-content: center;
        }
        .nav-right {
          display: initial;
          flex-direction: row;
          width: 100%;

          span {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            a {
              margin: 1rem;
            }
          }
        }
      }
    }
  }
  header {
    nav {
      .nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .hamburger {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-right: 2rem;
          cursor: pointer;
        }
        .hamburger.active {
          position: absolute;
          right: 0;
          top: 0;
          .bar1 {
            opacity: 0;
          }

          .bar2 {
            transform: translateY(4px) rotate(45deg);
          }

          .bar3 {
            transform: translateY(-4px) rotate(-45deg);
          }
        }

        .nav-right {
          display: none;
          flex-direction: row;
        }
        .nav-right.active {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
  .searchBox {
    div {
      form {
        flex-wrap: wrap;
        div {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
