* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$font-color: #061830;
$PrimaryWhite: #ffffff;
$PrimaryBlack: #000000;
$mainTranisition: all 1s ease;
$mainLetterSpacing: 1.5px;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin border($color) {
  border: 1px solid $color;
}

@mixin repeatedFont {
  font-family: "Mulish";
  font-weight: lighter;
  font-size: 1.25rem;
}
body {
  height: 100vh;
  // letter-spacing: $mainLetterSpacing;
}
header {
  display: flex;
  height: 100px;
  width: 90vw;
  letter-spacing: $mainLetterSpacing;
  border-bottom: 1px rebeccapurple solid;
  margin: auto;
  font-family: "Mulish";
  font-weight: lighter;
  margin-bottom: 10px;

  nav {
    height: 100%;
    width: 100%;
    @include flex();

    .nav {
      @include flex();
      width: 100%;
      height: 100%;

      .nav-left {
        width: 40%;
        height: 100%;
        @include flex();
        padding-left: 2rem;
        justify-content: left;
        a {
          font-size: 1.35rem;
          color: $font-color;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .nav-right {
        width: 60%;
        height: 100%;
        @include flex();
        justify-content: right;
        padding-right: 2rem;

        a {
          font-size: 1.05rem;
          font-weight: bold;
          color: $font-color;
          margin-right: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}

hr {
  width: 90vw;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.searchBox {
  // border: 1px solid red;
  width: 90vw;
  margin: auto;
  margin-bottom: 1rem;

  div {
    form {
      @include flex();
      font-family: "Mulish";
      font-weight: lighter;
      justify-content: space-evenly;
      font-size: 1.35rem;
      color: $font-color;

      .ratingSort,
      .priceSort {
        // border: 1px solid red;
        display: flex;
        flex-direction: row;

        align-items: center;
        select {
          color: $font-color;
          // border: 1px solid red;
          margin-left: 5px;
          @include repeatedFont();
          option {
            text-align: center;
            :enabled {
              border-color: teal;
            }
          }
        }
      }
    }
    span {
      @include flex();

      input {
        @include repeatedFont();
        text-align: center;
      }
      button {
        font-family: "Mulish";
        font-weight: lighter;
        font-size: 1.2rem;
        text-align: center;
        margin-left: 5px;
        padding: 0.1rem;
      }
    }
  }
}

footer {
  @include repeatedFont();
  @include flex();
  bottom: 0;
  text-align: center;
  width: 99%;
  position: absolute;
  letter-spacing: $mainLetterSpacing;
}

.form-control {
  border: none;
  outline: none;
}
