

{% extends 'listings/base.html' %}

{% block content %}
{% load static%}
<head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/login.css' %} " >
</head>
<style>
    .hostRegisterPage > form >.RegisterForm > .form-row> div>div>p{
        /* width: 90%; */
    
        margin: auto;
    }
    .hostRegisterPage > form >.RegisterForm > .form-row> div>div>p>input{
        padding: 0.5rem 1rem;
    }
</style>
<div class="hostRegisterPage">

    
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="RegisterForm">
            <h2>
                Join Today as a Guest
            </h2>
            <div class="form-row">
                <div class="text-danger">{{ form.non_field_errors|striptags }}</div>
                <div class="row">
                    <div>
                        <p><label for="id_full_name">Full name:</label>
                            <br>
                           <div class="text-danger"> {{ form.full_name.errors|striptags }} </div>
                            <input class="form-control"
                                placeholder="Full name" type="text" name="full_name" maxlength="255" 
                                required=""
                                id="id_full_name">
                        </p>
                    </div>

                    <div>
                        <p><label for="id_email">Email:</label>
                            <br>
                           <div class="text-danger"> {{ form.email.errors|striptags  }} </div>
                            <input type="email" class="form-control"
                                placeholder="mail@example.com" name="email" maxlength="255" 
                                autofocus="" required=""
                                id="id_email">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <p><label for="id_country">Country: 
                            <br>
                           <div class="text-danger">
                            {{ form.country.errors|striptags  }} 
                           </div>
                            <p class="country_custom form-control">
                            {{form.country}}</p>
                        </label></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <p><label for="id_state">State:</label>
                            <br>
                           <div class="text-danger">
                            {{ form.state.errors|striptags  }} 
                           </div>
                            <input class="form-control" type="text" 
                            name="state"
                            placeholder="State" maxlength="255" r
                            equired="" id="id_state">
                        </p>
                    </div>
                    <div>
                        <p><label for="id_phone_number">Phone number:</label> 
                            <br>
                            <div class="text-danger">
                                {{ form.phone_number.errors|striptags  }}
                            </div>
                            <input class="form-control" type="number"
                            name="phone_number" placeholder="98********" 
                            min="0" id="id_phone_number">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <p><label for="id_password1">Password:</label>
                            <br>
                            <div class="text-danger">
                                {{ form.password1.errors|striptags  }}
                            </div>
                            <input type="password" class="form-control"
                                placeholder="Password" name="password1" autocomplete="new-password" required=""
                                id="id_password1">
                    </div>

                    <div>
                        <p><label for="id_password2">Password confirmation:</label> 
                            <br>
                            <div class="text-danger">
                                {{ form.password1.errors|striptags  }}
                            </div>
                            <input type="password"
                                class="form-control" placeholder="Confirm Password" name="password2"
                                autocomplete="new-password" required="" id="id_password2"> 
                            </p>
                    </div>
                </div>
            </div>
            </fieldset>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <div class="alreadyHaveAccount">
                <small>
                    Already Have an Account?
                    <a href="{% url 'login' %}">Log In</a>
                </small>
            </div>
    </form>

    </div>
{% endblock content %}