
{% extends 'listings/base.html' %}

{% block content %}
{% load static%}
<head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/login.css' %} " >
</head>
   
    <div class="container passwordchangepage ">
 
        <form method="POST" class="form-inline" >
            {% csrf_token %}
            <div class="loginForm">
                <h2>Change your Password</h2>
                <p>
                    <label for="id_old_password">Old password:</label> 
                    <div class="text-danger">
                        {{ form.new_password1.errors|striptags }} 
                    </div>
                    <input type="password" class="form-control" name="new_password1" placeholder="Current Password" autocomplete="current-password" autofocus="" required="" id="id_old_password" >
                </p>
                <p>
                    <label for="id_new_password1">New password:</label>
                    <div class="text-danger">
                        {{ form.new_password1.errors|striptags }} 
                    </div>
                    <input type="password" name="new_password1" autocomplete="new-password" placeholder="New Password" class="form-control" required="" id="id_new_password1" > 
                <p>
                    <label for="id_new_password2">New password confirmation:</label>
                    <div class="text-danger">
                        {{ form.new_password2.errors|striptags }} 
                    </div> 
                    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" placeholder="Confirm New Password" required="" id="id_new_password2" >
                </p>
            </div>
            <div  style="width: 100%; text-align: center; margin-top: 1rem;">
                <button class="btn btn-primary" type="submit">Change</button>
            </div>
        </form>
    </div>
{% endblock content %}