
{% extends 'listings/base.html' %}

{% block content %}
    {% for not in notifs %}
        {% if not.room %}
            <p>
                {{not.notification_message}} <a class="far fa-trash-alt" href="{% url 'delete-noti' not.pk %}"></a>
                <br>
                <a href="{% url 'listing-details' not.room.pk %}">Room</a>
                <br>
                {% if user.is_guest %}
                    <a href="{% url 'profile' not.room.user.id %}">Host Profile</a>
                {% endif %}
                {% if user.is_host %}
                     <a href="{% url 'profile' not.guest.id %}">Guest Profile</a> 
                {% endif %}
            </p>
            <br> 
            <br>
        {% endif %}
        {% if not not.room %}
                <p>{{not.notification_message}} 
                    <a class="far fa-trash-alt" href="{% url 'delete-noti' not.pk %}"></a>
                {% if user.is_guest %}
                    {% if not.guest %}
                        <br>
                        <a href="{% url 'profile' not.guest.id %}">Host Profile</a>
                    {% endif %}
                {% endif %}
                </p>
                <br> 
                <br>
        {% endif %}
        {% endfor %}
{% endblock content %}